@model LoginViewModel
@{
	ViewData["title"] = "Login";
}

<section>
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-1">
				<div class="login-form">
					<!--login form-->
					<h2>Đăng nhập tài khoản của bạn</h2>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<form asp-action="Login" asp-controller="Account">

						<div class="form-group">
							<label>Tài khoản</label>
							<input asp-for="Username" class="form-control"> </input>
							<span asp-validation-for="Username" class="text-danger"></span>
						</div>

						<div class="form-group">
							<label>Mật khẩu</label>
							<input asp-for="Password" class="form-control"> </input>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>


						<div class="row">
							<div class="col-md-3">
								<button class="btn btn-danger">Đăng nhập</button>
							</div>
							<div class="col-md-3">
								<a alt="Login by google" class="btn btn-warning" asp-action="LoginByGoogle" asp-controller="Account">
									Đăng nhập bằng Google
								</a><br />
							</div>
							<div class="col-md-3">
								<a asp-action="Create" class="btn btn-warning" asp-controller="Account">Đăng ký</a><br />
							</div>
							<div class="col-md-3">
								<a asp-action="ForgetPass" class="btn btn-warning" asp-controller="Account">Quên mật khẩu</a>
							</div>
						</div>



					</form>
				</div><!--/login form-->
			</div>


		</div>
	</div>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
